@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@plugin "@toolwind/corner-shape";

* {
	box-sizing: border-box;
	margin: 0;
	font-family: "DM Sans", sans-serif;
}
.root {
	isolation: isolate;
}

body {
	position: relative;
}
body {
	background: #121416;
	background-image:
		radial-gradient(
			ellipse 80% 50% at 50% -20%,
			rgba(57, 105, 181, 0.408),
			transparent
		),
		radial-gradient(
			ellipse 60% 50% at 0% 50%,
			rgba(102, 107, 194, 0.175),
			transparent
		),
		radial-gradient(
			ellipse 60% 50% at 100% 50%,
			rgba(59, 131, 246, 0.236),
			transparent
		);
	color: #e1e3e6;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #ffffff;
}
