@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

/* biome-ignore lint: need this */
@custom-variant dark (&:is(.dark *));

/* biome-ignore lint: need this */
@plugin "@toolwind/corner-shape";

* {
	box-sizing: border-box;
	font-family: "DM Sans", sans-serif;
}
.root {
	isolation: isolate;
}

:root {
	--background: #ffffff;
	--background-content: #f5f5f5;
	--text-primary: #1e1e1e;
	--text-secondary: #6b6b6b;

	--border: #e0e0e0;
	--border-hover: #c6c6c6;

	--shadow-sm: rgba(0, 0, 0, 0.05);
	--shadow-md: rgba(0, 0, 0, 0.1);
	--shadow-lg: rgba(0, 0, 0, 0.15);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--background-content: #1a1a1a;
		--text-primary: #f5f5f5;
		--text-secondary: #a3a3a3;

		--border: #2e2e2e;
		--border-hover: #404040;

		--shadow-sm: rgba(0, 0, 0, 0.3);
		--shadow-md: rgba(0, 0, 0, 0.5);
		--shadow-lg: rgba(0, 0, 0, 0.7);
	}
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	background-color: var(--background);
	color: var(--text-primary);
}
a {
	color: inherit;
	text-decoration: none;
}

main,
aside,
header,
footer {
	display: block;
	background-color: var(--background-content);
}

.animation-rotation {
	animation: rotation 150ms cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}
@keyframes rotation {
	from {
		transform: translate(-50%, -50%) rotate(-3deg) scale(0.9);
		opacity: 0;
	}
	to {
		transform: translate(-50%, -50%) rotate(2deg) scale(1.05);
		opacity: 0.95;
	}
}
